<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>
          {% block title %}
          Electro_Shop
          {% endblock title %}
      </title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
      <link rel="stylesheet" href={% static "css/style.css" %}> 
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
   
      
   </head>
   <body>
      {% block navigation %}
      <div class="navigation">
         <div>
            <a href="{% url 'main_page' %}">
                Electro shop
            </a>
         </div>
         <div>
            <a href="{% url 'contacts_page' %}" href="contacts.html">Контакты</a>
         </div>
         <div>
            <a href="dostavka.html">Доставка</a>
         </div>
         <div>
            <a href="new.html">Новинки</a>
         </div>
         <div class="shop">
            <input type="text" class="search-input" placeholder="Search" class="search">
            <div class="login"> 
               <a href="registration.html"> login </a>
            </div>
            <img src="{% static "images/shopping-cart.svg" %}" width="40" height="40" class="shop_img">
         </div>
      </div>
      {% endblock navigation %}

      {% block content %}
         
      {% endblock content%}
      
      {% block footer %}
      <footer class=" container pt-4 my-md-5 pt-md-5 border-top">
         <div class="row">
           <div class="col-12 col-md">
             <img class="mb-2" src="images/electric-plug.svg" alt="" width="24" height="24">
             <small class="d-block mb-3 text-muted">&copy; 2017-2020</small>
           </div>
           <div class="col-6 col-md">
             <h5>Мы в соц.сетях</h5>
             <ul class="list-unstyled text-small">
               <li><a class="text-muted" href="https://vk.com/menli3">VK</a></li>
               <li><a class="text-muted" href="https://www.instagram.com/foto_na_pasport__/">Instagram</a></li>
               <li><a class="text-muted" href="">Tvitter</a></li>
             </ul>
           </div>
           <div class="col-6 col-md">
             <h5>Помощь</h5>
             <ul class="list-unstyled text-small">
               <li><a class="text-muted" href="#">Resource</a></li>
               <li><a class="text-muted" href="#">Resource name</a></li>
               <li><a class="text-muted" href="#">Another resource</a></li>
               <li><a class="text-muted" href="#">Final resource</a></li>
             </ul>
           </div>
           <div class="col-6 col-md">
             <h5>About</h5>
             <ul class="list-unstyled text-small">
               <li><a class="text-muted" href="#">Team</a></li>
               <li><a class="text-muted" href="#">Locations</a></li>
               <li><a class="text-muted" href="#">Privacy</a></li>
               <li><a class="text-muted" href="#">Terms</a></li>
             </ul>
           </div>
         </div>
       </footer>
       {% endblock footer %}
       
       <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
             <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
         AOS.init();
      </script>
   </body>
</html>